In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

In [3]:
df_ratings = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep = "\t")

df_imdb = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t").query("titleType == 'movie'")
df_imdb.head(10)

C:\Users\Lulu\AppData\Local\Temp\ipykernel_10408\904650496.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t").query("titleType == 'movie'")

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N,\N

In [4]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 688302 entries, 8 to 10969353
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          688302 non-null  object
 1   titleType       688302 non-null  object
 2   primaryTitle    688300 non-null  object
 3   originalTitle   688300 non-null  object
 4   isAdult         688302 non-null  object
 5   startYear       688302 non-null  object
 6   endYear         688302 non-null  object
 7   runtimeMinutes  688302 non-null  object
 8   genres          688302 non-null  object
dtypes: object(9)
memory usage: 52.5+ MB

In [5]:
df_imdb.isna().sum()

tconst            0
titleType         0
primaryTitle      2
originalTitle     2
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [6]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1466423 entries, 0 to 1466422
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1466423 non-null  object
 1   averageRating  1466423 non-null  float64
 2   numVotes       1466423 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.6+ MB

In [7]:
df_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [8]:
# MErge des deux tables 

df_merge = pd.merge(df_imdb,
                df_ratings,
                how="right",
                left_on='tconst',
                right_on='tconst',
                sort = True)

In [9]:
del df_ratings
gc.collect()

0

In [10]:
del df_imdb
gc.collect()

0

In [11]:
df_merge.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.7,2065
1,tt0000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6,278
2,tt0000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5,2043
3,tt0000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.4,179
4,tt0000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2,2799
5,tt0000006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,192
6,tt0000007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.4,880
7,tt0000008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.4,2213
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,211
9,tt0000010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8,7640
10,tt0000011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2,391
11,tt0000012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.4,13013
12,tt0000013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.7,1987
13,tt0000014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,5910
14,tt0000015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1,1197
15,tt0000016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9,1593
16,tt0000017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6,347
17,tt0000018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2,632
18,tt0000019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1,32
19,tt0000020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.7,386

In [12]:
df_merge = df_merge.dropna()

In [13]:
df_merge = df_merge.drop(columns= ['endYear'])

In [14]:
df_merge.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance,5.4,211
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport",5.2,521
339,tt0000502,movie,Bohemios,Bohemios,0,1905,100,\N,4.2,18
373,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography",6.0,918
383,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama,5.1,27

In [15]:
df_merge = df_merge[df_merge['isAdult']== 0]

In [16]:
df_merge = df_merge.drop(df_merge[df_merge['genres'] == '\\N'].index)

In [17]:
df_merge.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance,5.4,211
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport",5.2,521
373,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography",6.0,918
383,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama,5.1,27
397,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,Drama,4.1,26

In [18]:
print(df_merge.dtypes)

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear          object
runtimeMinutes     object
genres             object
averageRating     float64
numVotes            int64
dtype: object

In [19]:
# Séparation des valeurs de la colonne 'Genres' en listes d'éléments
df_merge['genres'] = df_merge['genres'].str.split(',')

# Création d'une liste de tous les genres uniques
all_genres = set(genre for sublist in df_merge['genres'] for genre in sublist)

# Création des colonnes binaires pour chaque genre unique
for genre in all_genres:
    df_merge[genre] = df_merge['genres'].apply(lambda x: 1 if genre in x else 0)

# Suppression de la colonne originale 'Genres'
df_merge.drop(columns=['genres'], inplace=True)

In [20]:
df_merge.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,averageRating,numVotes,Game-Show,...,Musical,Western,History,Crime,Film-Noir,Horror,Sport,Reality-TV,News,Romance
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,5.4,211,0,...,0,0,0,0,0,0,0,0,0,1
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,5.2,521,0,...,0,0,0,0,0,0,1,0,1,0
373,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,6.0,918,0,...,0,0,0,0,0,0,0,0,0,0
383,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,5.1,27,0,...,0,0,0,0,0,0,0,0,0,0
397,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,4.1,26,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299418 entries, 8 to 1466418
Data columns (total 35 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          299418 non-null  object
 1   titleType       299418 non-null  object
 2   primaryTitle    299418 non-null  object
 3   originalTitle   299418 non-null  object
 4   isAdult         299418 non-null  object
 5   startYear       299418 non-null  object
 6   runtimeMinutes  299418 non-null  object
 7   averageRating   299418 non-null  float64
 8   numVotes        299418 non-null  int64
 9   Game-Show       299418 non-null  int64
 10  Adventure       299418 non-null  int64
 11  Family          299418 non-null  int64
 12  Comedy          299418 non-null  int64
 13  Music           299418 non-null  int64
 14  Biography       299418 non-null  int64
 15  Talk-Show       299418 non-null  int64
 16  Documentary     299418 non-null  int64
 17  Mystery         299418 non-null  int64
 18  Animation       299418 non-null  int64
 19  Fantasy         299418 non-null  int64
 20  Action          299418 non-null  int64
 21  Drama           299418 non-null  int64
 22  Thriller        299418 non-null  int64
 23  Sci-Fi          299418 non-null  int64
 24  War             299418 non-null  int64
 25  Musical         299418 non-null  int64
 26  Western         299418 non-null  int64
 27  History         299418 non-null  int64
 28  Crime           299418 non-null  int64
 29  Film-Noir       299418 non-null  int64
 30  Horror          299418 non-null  int64
 31  Sport           299418 non-null  int64
 32  Reality-TV      299418 non-null  int64
 33  News            299418 non-null  int64
 34  Romance         299418 non-null  int64
dtypes: float64(1), int64(27), object(7)
memory usage: 82.2+ MB

In [22]:

# Suppression des lignes où au moins une des colonnes contient 1
df1 = df_merge.drop(df_merge[df_merge['Reality-TV'] == 1].index)

In [23]:
del df_merge
gc.collect()

19

In [24]:
df1 = df1.drop(df1[df1['News'] == 1].index)

In [25]:
df1 = df1.drop(df1[df1['Music'] == 1].index)

In [26]:
df1 = df1.drop(df1[df1['Talk-Show'] == 1].index)

In [27]:
df1 = df1.drop(df1[df1['Game-Show'] == 1].index)

In [28]:
df1 = df1.drop(df1[df1['Sport'] == 1].index)

In [29]:
df1 = df1.drop(columns = ['Reality-TV','News','Music', 'Talk-Show', 'Game-Show', 'Sport'])

In [30]:
# Conversion de la colonne 'startYear' en type int
df1['startYear'] = pd.to_numeric(df1['startYear'], errors='coerce')

# Filtrage des années entre 1960 et 2023
df1 = df1[(df1['startYear'] >= 1960) & (df1['startYear'] <= 2023)]

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248520 entries, 3913 to 1466418
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          248520 non-null  object
 1   titleType       248520 non-null  object
 2   primaryTitle    248520 non-null  object
 3   originalTitle   248520 non-null  object
 4   isAdult         248520 non-null  object
 5   startYear       248520 non-null  float64
 6   runtimeMinutes  248520 non-null  object
 7   averageRating   248520 non-null  float64
 8   numVotes        248520 non-null  int64
 9   Adventure       248520 non-null  int64
 10  Family          248520 non-null  int64
 11  Comedy          248520 non-null  int64
 12  Biography       248520 non-null  int64
 13  Documentary     248520 non-null  int64
 14  Mystery         248520 non-null  int64
 15  Animation       248520 non-null  int64
 16  Fantasy         248520 non-null  int64
 17  Action          248520 non-null  int64
 18  Drama           248520 non-null  int64
 19  Thriller        248520 non-null  int64
 20  Sci-Fi          248520 non-null  int64
 21  War             248520 non-null  int64
 22  Musical         248520 non-null  int64
 23  Western         248520 non-null  int64
 24  History         248520 non-null  int64
 25  Crime           248520 non-null  int64
 26  Film-Noir       248520 non-null  int64
 27  Horror          248520 non-null  int64
 28  Romance         248520 non-null  int64
dtypes: float64(2), int64(21), object(6)
memory usage: 56.9+ MB

In [32]:
df1.head(30)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,averageRating,numVotes,Adventure,...,Thriller,Sci-Fi,War,Musical,Western,History,Crime,Film-Noir,Horror,Romance
3913,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,94,6.6,71,0,...,0,0,0,0,0,0,0,0,0,0
4807,tt0015724,movie,Dama de noche,Dama de noche,0,1993.0,102,6.5,30,0,...,0,0,0,0,0,0,0,0,0,1
19036,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,6.4,89594,0,...,0,0,0,0,0,0,0,0,0,1
20013,tt0036574,movie,"January 30, 1945",Der 30. Januar 1945,0,1965.0,146,5.9,16,0,...,0,0,0,0,0,0,0,0,0,0
20041,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",0,1983.0,118,6.5,358,0,...,0,0,1,0,0,0,0,0,0,0
21252,tt0038086,movie,Shiva und die Galgenblume,Shiva und die Galgenblume,0,1993.0,\N,7.0,27,0,...,1,0,0,0,0,0,0,0,0,0
21755,tt0038687,movie,Let There Be Light,Let There Be Light,0,1980.0,58,7.5,2041,0,...,0,0,1,0,0,0,0,0,0,0
22396,tt0039442,movie,"Habla, mudita","Habla, mudita",0,1973.0,88,6.1,171,0,...,0,0,0,0,0,0,0,0,0,0
22834,tt0039965,movie,Viva Chihuahua,Viva Chihuahua,0,1961.0,80,7.0,15,0,...,0,0,0,0,1,0,0,0,0,0
24819,tt0042423,movie,The Dungeon of Harrow,The Dungeon of Harrow,0,1964.0,86,3.4,639,0,...,0,0,0,0,0,0,0,0,1,0
25986,tt0043841,movie,Il naufrago del Pacifico,Il naufrago del Pacifico,0,1962.0,\N,5.5,11,1,...,0,0,0,0,0,0,0,0,0,0
26896,tt0044932,movie,Murder on the Campus,Out of the Shadow,0,1961.0,61,5.0,239,0,...,0,0,0,0,0,0,0,0,0,0
26914,tt0044952,movie,Nagarik,Nagarik,0,1977.0,127,7.9,242,0,...,0,0,0,0,0,0,0,0,0,0
27515,tt0045689,movie,10 canzoni d'amore da salvare,10 canzoni d'amore da salvare,0,1962.0,91,6.0,8,0,...,0,0,0,1,0,0,0,0,0,1
28637,tt0047027,movie,La gitana y el charro,La gitana y el charro,0,1964.0,87,4.6,17,0,...,0,0,0,1,0,0,0,0,0,1
29614,tt0048162,movie,Herr Puntila and His Servant Matti,Herr Puntila und sein Knecht Matti,0,1960.0,97,6.4,63,0,...,0,0,0,1,0,0,0,0,0,0
29677,tt0048234,movie,Juicio final,Juicio final,0,1960.0,78,4.7,15,0,...,0,0,0,0,0,0,0,0,0,0
30665,tt0049360,movie,The Imposter,El impostor,0,1960.0,79,6.5,26,0,...,0,0,0,0,0,0,0,0,0,0
31598,tt0050441,movie,Romeo and Juliet,Romeo e Giulietta,0,1964.0,95,6.5,53,0,...,0,0,0,0,0,0,0,0,0,0
31667,tt0050517,movie,El hombre que perdió el tren,El hombre que perdió el tren,0,1960.0,88,6.3,15,0,...,0,0,0,0,0,0,0,0,0,0
31730,tt0050595,movie,Code of Silence,Code of Silence,0,1960.0,75,7.0,9,0,...,0,0,0,0,0,0,1,0,0,0
31776,tt0050651,movie,Lo que cuesta vivir...,Lo que cuesta vivir...,0,1967.0,92,5.4,11,0,...,0,0,0,1,0,0,0,0,0,0
31988,tt0050885,movie,La rana verde,La rana verde,0,1960.0,93,5.6,11,0,...,0,0,0,0,0,0,0,0,0,0
32379,tt0051350,movie,El amor empieza en sábado,El amor empieza en sábado,0,1961.0,84,5.3,6,0,...,0,0,0,0,0,0,0,0,0,1
32492,tt0051474,movie,Una chica de Chicago,Una chica de Chicago,0,1960.0,104,4.9,15,0,...,0,0,0,0,0,0,0,0,0,0
32520,tt0051506,movie,Culpables,Culpables,0,1960.0,83,6.1,33,0,...,0,0,0,0,0,0,0,0,0,0
32545,tt0051536,movie,Devil's Partner,Devil's Partner,0,1960.0,74,5.2,593,0,...,0,0,0,0,0,0,0,0,1,0
32602,tt0051596,movie,La estrella vacía,La estrella vacía,0,1960.0,107,7.1,57,0,...,0,0,0,0,0,0,0,0,0,0
32606,tt0051601,movie,Fantasmas en la casa,Fantasmas en la casa,0,1961.0,80,5.2,29,0,...,0,0,0,0,0,0,0,0,0,0
32806,tt0051832,movie,Nobody's Child,Kuer liulang ji,0,1960.0,108,5.4,11,0,...,0,0,0,0,0,0,0,0,0,0

### Table name basics

In [33]:

#df_basics = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep = "\t")
#df_basics.head(10)

In [34]:
# Étape 1: Séparer les chaînes en listes
#df1['knownForTitles'] = df1['knownForTitles'].str.split(',')

In [35]:
# Étape 2: Éclater les listes en lignes distinctes
#df_exploded = df1.explode('knownForTitles')

In [36]:
# Compter les occurrences de chaque catégorie
#value_counts = df_exploded['primaryProfession'].value_counts()

# Définir un seuil pour les catégories fréquentes
#threshold = 1000  # Exemple de seuil

# Regrouper les catégories rares sous 'Other'
#df_exploded['primaryProfession'] = df_exploded['primaryProfession'].apply(lambda x: x if value_counts[x] > threshold else 'Other')

# Appliquer get_dummies
#dummies = pd.get_dummies(df_exploded['primaryProfession'])

In [37]:
#df_exploded = pd.concat([df_exploded, dummies], axis=1)

In [38]:
#df_exploded.head()

In [39]:
#df_exploded.info()

### Table title akas

In [40]:
import pandas as pd
df2 = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep = "\t")
df2.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
5,tt0000001,6,Карменсита,RU,\N,imdbDisplay,\N,0
6,tt0000001,7,Карменсіта,UA,\N,imdbDisplay,\N,0
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0

In [41]:
print(df1['tconst'].unique())
print(df2['titleId'].unique())

['tt0013274' 'tt0015724' 'tt0035423' ... 'tt9916538' 'tt9916706'
 'tt9916730']
['tt0000001' 'tt0000002' 'tt0000003' ... 'tt9916852' 'tt9916856'
 'tt9916880']

In [42]:
print(df1['tconst'].dtype)
print(df2['titleId'].dtype)

object
object

In [61]:
df_merge2 = pd.merge(df1,
                df2,
                how="inner",
                left_on='tconst',
                right_on='titleId',
                sort = True)

df_merge2.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,averageRating,numVotes,Adventure,...,Horror,Romance,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,94,6.6,71,0,...,0,0,tt0013274,1,Istoriya grazhdanskoy voyny,\N,\N,original,\N,1
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,94,6.6,71,0,...,0,0,tt0013274,2,История гражданской войны,RU,\N,imdbDisplay,\N,0
2,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,94,6.6,71,0,...,0,0,tt0013274,3,История гражданской войны,SUHH,ru,imdbDisplay,\N,0
3,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,94,6.6,71,0,...,0,0,tt0013274,4,Histoire de la guerre civile,FR,\N,\N,\N,0
4,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,94,6.6,71,0,...,0,0,tt0013274,5,History of the Civil War,\N,\N,\N,\N,0

In [44]:
# del [[df1,df2]]
#gc.collect()

In [62]:
df3 = df_merge2.drop(columns = ['primaryTitle','originalTitle','isAdult', 'titleId', 'ordering', 'attributes', 'isOriginalTitle','types'])

In [46]:
del df_merge2
gc.collect()

0

In [47]:
df3.head()

,tconst,titleType,startYear,runtimeMinutes,averageRating,numVotes,Adventure,Family,Comedy,Biography,...,Musical,Western,History,Crime,Film-Noir,Horror,Romance,title,region,language
0,tt0013274,movie,2021.0,94,6.6,71,0,0,0,0,...,0,0,0,0,0,0,0,Istoriya grazhdanskoy voyny,\N,\N
1,tt0013274,movie,2021.0,94,6.6,71,0,0,0,0,...,0,0,0,0,0,0,0,История гражданской войны,RU,\N
2,tt0013274,movie,2021.0,94,6.6,71,0,0,0,0,...,0,0,0,0,0,0,0,История гражданской войны,SUHH,ru
3,tt0013274,movie,2021.0,94,6.6,71,0,0,0,0,...,0,0,0,0,0,0,0,Histoire de la guerre civile,FR,\N
4,tt0013274,movie,2021.0,94,6.6,71,0,0,0,0,...,0,0,0,0,0,0,0,History of the Civil War,\N,\N

In [48]:
df3['language'].value_counts()

language
\N     1478406
en      244999
ja       46504
fr       34547
tr       23841
        ...
ne           1
lo           1
qac          1
iu           1
my           1
Name: count, Length: 99, dtype: int64

In [66]:
df3 = df3.query("language in ['fr', 'en']")

In [50]:
pd.set_option('display.max_rows', None)

In [51]:
df3['region'].value_counts()

region
CA     30301
BE      2270
CH       603
LU       322
TN       285
DZ       267
MA        95
CM        90
LB        82
FR        66
SN        63
BJ        49
CG        46
XWW        6
US         1
DE         1
Name: count, dtype: int64

In [68]:
df3_filtered = df3.query("region in ['US', 'GB', 'FR']")

In [ ]:
#df10 = df_merge2.query("language == 'fr'")

In [70]:
df3_filtered.head(50)

,tconst,titleType,startYear,runtimeMinutes,averageRating,numVotes,Adventure,Family,Comedy,Biography,...,Musical,Western,History,Crime,Film-Noir,Horror,Romance,title,region,language
3048,tt0053699,movie,1960.0,86,6.2,2858,0,0,1,0,...,0,0,0,0,0,0,0,Carry on Constable,GB,en
3230,tt0053715,movie,1960.0,147,6.4,3470,0,0,0,0,...,0,1,0,0,0,0,1,Cimarron,US,en
3331,tt0053719,movie,1960.0,76,6.7,8650,0,0,0,0,...,0,0,0,0,0,1,0,The City of the Dead,GB,en
4793,tt0053877,movie,1960.0,104,6.5,5885,0,0,1,0,...,0,0,0,0,0,0,1,"Ailleurs, l'herbe est plus verte",FR,fr
7696,tt0054167,movie,1960.0,101,7.6,39971,0,0,0,0,...,0,0,0,0,0,1,0,Peeping Tom,GB,en
8262,tt0054215,movie,1960.0,109,8.5,725728,0,0,0,0,...,0,0,0,0,0,1,0,Psycho,US,en
8791,tt0054271,movie,1960.0,125,5.5,422,1,0,0,0,...,0,0,0,1,0,0,0,Holiday in Spain,US,en
12776,tt0054724,movie,1971.0,92,3.6,1690,0,0,0,0,...,0,0,0,0,0,1,0,I Eat Your Skin,US,en
12803,tt0054727,movie,1961.0,90,6.0,2527,0,0,1,0,...,0,0,0,0,0,0,0,Carry on Regardless,GB,en
21636,tt0055630,movie,1961.0,110,8.2,132696,0,0,0,0,...,0,0,0,0,0,0,0,The Bodyguard,US,en
22973,tt0055831,movie,1962.0,89,6.1,3246,0,0,1,0,...,0,0,0,0,0,0,1,Carry on Cruising,GB,en
27949,tt0056285,movie,1961.0,87,6.3,1019,0,0,1,0,...,0,0,0,0,0,1,0,What a Carve Up,GB,en
31720,tt0056665,movie,1962.0,110,6.8,551,0,0,1,0,...,0,0,0,0,0,0,1,Crazy Desire,US,en
33220,tt0056869,movie,1963.0,119,7.6,206777,0,0,0,0,...,0,0,0,0,0,1,0,The Birds,US,en
36296,tt0057128,movie,1963.0,87,6.7,8639,0,0,0,0,...,0,0,0,0,0,1,0,The Haunted Palace,US,en
43877,tt0057918,movie,1964.0,92,6.7,5052,1,0,1,0,...,0,0,0,0,0,0,1,Carry on Cleo,GB,en
43905,tt0057919,movie,1964.0,91,5.9,2612,1,0,1,0,...,0,0,0,0,0,0,1,Carry on Jack,GB,en
43927,tt0057920,movie,1964.0,87,6.2,3142,0,0,1,0,...,0,0,0,0,0,0,0,Carry on Spying,GB,en
49638,tt0058453,movie,1964.0,110,6.3,9554,0,0,1,0,...,0,0,0,0,0,0,1,Paris When It Sizzles,US,en
52426,tt0058725,movie,1964.0,85,6.3,9344,0,0,1,0,...,1,0,0,0,0,0,0,Viva Las Vegas,US,en
54605,tt0059014,movie,1965.0,93,6.2,3419,0,0,1,0,...,0,1,0,0,0,0,0,Carry on Cowboy,GB,en
56103,tt0059143,movie,1965.0,98,6.7,1317,0,0,1,0,...,0,0,0,0,0,0,0,The Early Bird,GB,en
57111,tt0059245,movie,1965.0,260,6.6,12070,0,0,0,1,...,0,0,1,0,0,0,0,The Greatest Story Ever Told,US,en
57191,tt0059250,movie,1965.0,165,6.4,4480,0,0,1,0,...,0,1,0,0,0,0,0,The Hallelujah Trail,US,en
62114,tt0059719,movie,1965.0,45,7.8,10944,0,0,1,0,...,0,0,0,0,0,0,0,Simon du désert,FR,fr
65681,tt0060124,movie,1966.0,104,6.1,735,0,0,0,0,...,0,1,0,0,0,0,0,Man from Nowhere,US,en
66342,tt0060176,movie,1966.0,111,7.4,68328,0,0,0,0,...,0,0,0,0,0,0,0,Blow-Up,GB,en
66772,tt0060214,movie,1966.0,97,6.7,5887,0,0,1,0,...,0,0,0,0,0,1,0,Carry on Screaming,GB,en
67206,tt0060268,movie,1966.0,112,7.0,14073,0,0,1,0,...,0,0,0,0,0,0,0,Cul-de-sac,GB,en
67859,tt0060330,movie,1967.0,90,6.5,3165,1,0,1,0,...,0,0,0,0,0,0,0,Carry on Don't Lose Your Head,GB,en
69193,tt0060462,movie,1970.0,80,3.8,201,0,0,0,0,...,0,0,0,0,0,0,0,The Girls from Thunder Strip,US,en
70628,tt0060588,movie,1966.0,128,6.8,8366,1,0,0,0,...,0,0,0,0,0,0,0,Khartoum,GB,en
74121,tt0060935,movie,1964.0,90,4.4,16,0,0,0,0,...,0,0,0,0,0,0,0,Sands of Beersheba,US,en
78418,tt0061420,movie,1967.0,113,5.9,2808,0,0,0,0,...,0,0,0,0,0,0,0,The Born Losers,US,en
78694,tt0061449,movie,1968.0,105,5.1,116,0,0,0,0,...,0,0,1,0,0,0,0,Dear Caroline,GB,en
78717,tt0061450,movie,1967.0,94,6.5,4194,0,0,1,0,...,0,0,0,0,0,0,0,Carry on Doctor,GB,en
79251,tt0061504,movie,1967.0,70,4.8,776,0,0,1,0,...,0,0,0,0,0,0,0,Common Law Cabin,US,en
79798,tt0061565,movie,1967.0,84,5.0,589,0,0,0,0,...,0,0,0,1,0,0,0,Devil's Angels,US,en
81197,tt0061680,movie,1967.0,95,6.0,2707,1,0,1,0,...,0,0,0,0,0,0,1,Carry on Follow That Camel,GB,en
82078,tt0061758,movie,1967.0,95,5.1,2733,0,0,0,0,...,0,0,0,1,0,0,0,Hells Angels on Wheels,US,en
82836,tt0061811,movie,1967.0,110,7.9,84280,0,0,0,0,...,0,0,0,0,0,0,0,In the Heat of the Night,US,en
84257,tt0061988,movie,1967.0,120,6.1,202,0,0,0,0,...,0,0,0,0,0,0,0,Mondo Hollywood: Hollywood Laid Bare!,US,en
84646,tt0062037,movie,1967.0,94,5.6,2378,0,0,0,0,...,0,0,0,0,0,1,0,Night of the Big Heat,GB,en
86785,tt0062269,movie,1967.0,91,4.1,32,0,0,0,0,...,0,1,0,0,0,0,0,The Vengeance of Pancho Villa,GB,en
87457,tt0062360,movie,1967.0,85,4.5,2087,1,0,0,0,...,0,0,0,0,0,0,0,They Came from Beyond Space,GB,en
90320,tt0062688,movie,1968.0,89,5.5,774,0,0,0,0,...,0,0,0,0,0,0,0,Attack on the Iron Coast,GB,en
91390,tt0062767,movie,1968.0,108,6.8,1892,0,0,1,0,...,0,0,0,0,0,0,1,"Buona Sera, Mrs. Campbell",US,en
91517,tt0062782,movie,1968.0,88,6.8,5525,1,0,1,0,...,0,0,0,0,0,0,0,Carry on Up the Khyber,GB,en
94677,tt0063067,movie,1968.0,101,6.1,838,0,0,0,0,...,0,0,0,0,0,0,0,The High Commissioner,GB,en
95949,tt0063202,movie,1967.0,157,5.4,18,1,0,1,0,...,0,0,0,0,0,0,0,Las Vegas Free-for-All,US,en

In [79]:
# Spécifiez le chemin du fichier CSV
file_path = 'C:/Users/Lulu/Documents/Git/Projet_2/movies_step1.csv'

# Enregistrer le DataFrame en fichier CSV
df3_filtered.to_csv(file_path, index=False)

print(f"Le fichier CSV a été enregistré à : {file_path}")

Le fichier CSV a été enregistré à : C:/Users/Lulu/Documents/Git/Projet_2/movies_step1.csv

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58786 entries, 3 to 1943232
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          58786 non-null  object
 1   titleType       58786 non-null  object
 2   startYear       58786 non-null  float64
 3   runtimeMinutes  58786 non-null  object
 4   averageRating   58786 non-null  float64
 5   numVotes        58786 non-null  int64
 6   Action          58786 non-null  int64
 7   Comedy          58786 non-null  int64
 8   War             58786 non-null  int64
 9   History         58786 non-null  int64
 10  Musical         58786 non-null  int64
 11  Horror          58786 non-null  int64
 12  Mystery         58786 non-null  int64
 13  Animation       58786 non-null  int64
 14  Crime           58786 non-null  int64
 15  Film-Noir       58786 non-null  int64
 16  Western         58786 non-null  int64
 17  Adventure       58786 non-null  int64
 18  Thriller        58786 non-null  int64
 19  Sci-Fi          58786 non-null  int64
 20  Documentary     58786 non-null  int64
 21  Family          58786 non-null  int64
 22  Biography       58786 non-null  int64
 23  Fantasy         58786 non-null  int64
 24  Romance         58786 non-null  int64
 25  Drama           58786 non-null  int64
 26  title           58786 non-null  object
 27  region          58786 non-null  object
 28  language        58786 non-null  object
 29  types           58786 non-null  object
dtypes: float64(2), int64(21), object(7)
memory usage: 13.9+ MB